---
name: CI

on: # yamllint disable-line rule:truthy
  push:
  pull_request:

env:
  # renovate: datasource=golang-version depName=go
  GO_VERSION: 1.26.0

permissions: {}

jobs:
  test:
    name: Lint and Test
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          persist-credentials: false
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install Task
        uses: arduino/setup-task@60cc3975942e4749b3f83519046f542db3030970
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run linters
        run: task lint
      - name: Run tests
        run: |
          task test
          task test-version
      - name: Generate test coverage
        run: task coverage
      - name: Check test coverage
        uses: vladopajic/go-test-coverage@9bdfb184d81fbbc3d16dca9732c7c92851080777
        with:
          config: ./.testcoverage.yml

  release:
    name: Semantic Release
    runs-on: ubuntu-24.04
    needs: test
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          persist-credentials: false
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: go-semantic-release/action@2e9dc4247a6004f8377781bef4cb9dad273a741f
        with:
          hooks: goreleaser
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
